# NOTE: This file is auto generated by OpenAPI Generator 7.12.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule VidarAPI.Api.Assets do
  @moduledoc """
  API calls for all endpoints tagged `Assets`.
  """

  alias VidarAPI.Connection
  import VidarAPI.RequestBuilder

  @doc """
  Get all assets
  This endpoint uses OData. All operators are supported.    To make it as fast as possible please select the smallest required data set.    Examples:    Selecting data set: /Assets?$select=id, name, iban, currency    Filtering data set: /Assets?$filter=name eq 'CASH ACCOUNT IN CHF' or name eq 'CASH ACCOUNT IN USD'

  ### Parameters

  - `connection` (VidarAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:select` (String.t): Limits the properties returned in the result.
    - `:expand` (String.t): Indicates the related entities to be represented inline. The maximum depth is 2.
    - `:filter` (String.t): Restricts the set of items returned. The maximum number of expressions is 100. The allowed functions are: allfunctions.
    - `:orderby` (String.t): Specifies the order in which items are returned. The maximum number of expressions is 5.
    - `:top` (integer()): Limits the number of items returned from a collection. The maximum value is 1000.
    - `:skip` (integer()): Excludes the specified number of items of the queried collection from the result.
    - `:count` (boolean()): Indicates whether the total count of items within a collection are returned in the result.

  ### Returns

  - `{:ok, [%Asset{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec vversion_api_version_assets(Tesla.Env.client, keyword()) :: {:ok, [VidarAPI.Model.Asset.t]} | {:error, Tesla.Env.t}
  def vversion_api_version_assets(connection, opts \\ []) do
    optional_params = %{
      :select => :query,
      :expand => :query,
      :filter => :query,
      :orderby => :query,
      :top => :query,
      :skip => :query,
      :count => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/Assets")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, VidarAPI.Model.Asset}
    ])
  end

  @doc """
  Get asset by id
  This endpoint uses OData. All operators are supported.    To make it as fast as possible please select the smallest required data set.    Examples:  Selecting data set: /Assets/{key}?$select=id, name, iban, currency  

  ### Parameters

  - `connection` (VidarAPI.Connection): Connection to server
  - `key` (integer()): Asset unique id
  - `opts` (keyword): Optional parameters
    - `:select` (String.t): Limits the properties returned in the result.
    - `:expand` (String.t): Indicates the related entities to be represented inline. The maximum depth is 2.

  ### Returns

  - `{:ok, VidarAPI.Model.Asset.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec vversion_api_version_assets_key(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, VidarAPI.Model.Asset.t} | {:error, Tesla.Env.t}
  def vversion_api_version_assets_key(connection, key, opts \\ []) do
    optional_params = %{
      :select => :query,
      :expand => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/Assets/#{key}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, VidarAPI.Model.Asset},
      {404, false}
    ])
  end

  @doc """
  Get all cash accounts
  This endpoint uses OData. All operators are supported.    To make it as fast as possible please select the smallest required data set.    Examples:    Selecting data set: /Assets/WealthArc.CashAccount?$select=id, name, iban, currency    Filtering data set: /Assets/WealthArc.CashAccount?$filter=name eq 'CASH ACCOUNT IN CHF' or name eq 'CASH ACCOUNT IN USD'

  ### Parameters

  - `connection` (VidarAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:select` (String.t): Limits the properties returned in the result.
    - `:expand` (String.t): Indicates the related entities to be represented inline. The maximum depth is 2.
    - `:filter` (String.t): Restricts the set of items returned. The maximum number of expressions is 100. The allowed functions are: allfunctions.
    - `:orderby` (String.t): Specifies the order in which items are returned. The maximum number of expressions is 5.
    - `:top` (integer()): Limits the number of items returned from a collection. The maximum value is 1000.
    - `:skip` (integer()): Excludes the specified number of items of the queried collection from the result.
    - `:count` (boolean()): Indicates whether the total count of items within a collection are returned in the result.

  ### Returns

  - `{:ok, [%CashAccount{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec vversion_api_version_assets_wealth_arc_cash_account(Tesla.Env.client, keyword()) :: {:ok, [VidarAPI.Model.CashAccount.t]} | {:error, Tesla.Env.t}
  def vversion_api_version_assets_wealth_arc_cash_account(connection, opts \\ []) do
    optional_params = %{
      :select => :query,
      :expand => :query,
      :filter => :query,
      :orderby => :query,
      :top => :query,
      :skip => :query,
      :count => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/Assets/WealthArc.CashAccount")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, VidarAPI.Model.CashAccount}
    ])
  end

  @doc """
  Get all instruments
  This endpoint uses OData. All operators are supported.    To make it as fast as possible please select the smallest required data set.    Examples:    Selecting data set: /Assets/WealthArc.Instrument?$select=id, name, isin, currency    Filtering data set: /Assets/WealthArc.Instrument?$filter=name eq 'Restaurant Brands'

  ### Parameters

  - `connection` (VidarAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:select` (String.t): Limits the properties returned in the result.
    - `:expand` (String.t): Indicates the related entities to be represented inline. The maximum depth is 2.
    - `:filter` (String.t): Restricts the set of items returned. The maximum number of expressions is 100. The allowed functions are: allfunctions.
    - `:orderby` (String.t): Specifies the order in which items are returned. The maximum number of expressions is 5.
    - `:top` (integer()): Limits the number of items returned from a collection. The maximum value is 1000.
    - `:skip` (integer()): Excludes the specified number of items of the queried collection from the result.
    - `:count` (boolean()): Indicates whether the total count of items within a collection are returned in the result.

  ### Returns

  - `{:ok, VidarAPI.Model.VVersionApiVersionAssetsWealthArcInstrument200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec vversion_api_version_assets_wealth_arc_instrument(Tesla.Env.client, keyword()) :: {:ok, VidarAPI.Model.VVersionApiVersionAssetsWealthArcInstrument200Response.t} | {:error, Tesla.Env.t}
  def vversion_api_version_assets_wealth_arc_instrument(connection, opts \\ []) do
    optional_params = %{
      :select => :query,
      :expand => :query,
      :filter => :query,
      :orderby => :query,
      :top => :query,
      :skip => :query,
      :count => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/Assets/WealthArc.Instrument")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, VidarAPI.Model.VVersionApiVersionAssetsWealthArcInstrument200Response}
    ])
  end
end
