# NOTE: This file is auto generated by OpenAPI Generator 7.12.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule VidarAPI.Api.Positions do
  @moduledoc """
  API calls for all endpoints tagged `Positions`.
  """

  alias VidarAPI.Connection
  import VidarAPI.RequestBuilder

  @doc """
  Get position by id
  This endpoint uses OData. All operators are supported.    To make it as fast as possible please select the smallest required data set.    Examples:    Selecting data set: /Positions/{key}?$select=portfolioId, instrumentId, statementDate, quantity, price  

  ### Parameters

  - `connection` (VidarAPI.Connection): Connection to server
  - `key` (integer()): Position id
  - `opts` (keyword): Optional parameters
    - `:select` (String.t): Limits the properties returned in the result.
    - `:expand` (String.t): Indicates the related entities to be represented inline. The maximum depth is 2.

  ### Returns

  - `{:ok, VidarAPI.Model.PositionODataResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_position(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, VidarAPI.Model.PositionODataResponse.t} | {:error, Tesla.Env.t}
  def get_position(connection, key, opts \\ []) do
    optional_params = %{
      :select => :query,
      :expand => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/Positions/#{key}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, VidarAPI.Model.PositionODataResponse},
      {404, false}
    ])
  end

  @doc """
  Get all positions
  This endpoint uses OData. All operators are supported.    To make it as fast as possible please select the smallest required data set.    Examples:    Selecting data set: /Positions?$select=portfolioId, instrumentId, statementDate     Filtering data set: /Positions?$filter=portfolioId eq 20146

  ### Parameters

  - `connection` (VidarAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:select` (String.t): Limits the properties returned in the result.
    - `:expand` (String.t): Indicates the related entities to be represented inline. The maximum depth is 2.
    - `:filter` (String.t): Filter the results using OData syntax.
    - `:orderby` (String.t): Order the results using OData syntax.
    - `:top` (integer()): Maximum number of results to return.
    - `:skip` (integer()): Number of results to skip.
    - `:count` (boolean()): Whether to include a count of results.

  ### Returns

  - `{:ok, VidarAPI.Model.PositionODataCollectionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_positions(Tesla.Env.client, keyword()) :: {:ok, VidarAPI.Model.PositionODataCollectionResponse.t} | {:error, Tesla.Env.t}
  def get_positions(connection, opts \\ []) do
    optional_params = %{
      :select => :query,
      :expand => :query,
      :filter => :query,
      :orderby => :query,
      :top => :query,
      :skip => :query,
      :count => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/Positions")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, VidarAPI.Model.PositionODataCollectionResponse}
    ])
  end
end
