# NOTE: This file is auto generated by OpenAPI Generator 7.12.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule VidarAPI.Api.Transactions do
  @moduledoc """
  API calls for all endpoints tagged `Transactions`.
  """

  alias VidarAPI.Connection
  import VidarAPI.RequestBuilder

  @doc """
  Get transaction by id
  This endpoint uses OData. All operators are supported.    To make it as fast as possible please select the smallest required data set.    Examples:    Selecting data set: /Transactions/{key}?$select=id, portfolioId, instrumentId, Quantity  

  ### Parameters

  - `connection` (VidarAPI.Connection): Connection to server
  - `key` (integer()): Transaction id
  - `opts` (keyword): Optional parameters
    - `:select` (String.t): Limits the properties returned in the result.
    - `:expand` (String.t): Indicates the related entities to be represented inline. The maximum depth is 2.

  ### Returns

  - `{:ok, VidarAPI.Model.TransactionODataResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_transaction(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, VidarAPI.Model.TransactionODataResponse.t} | {:error, Tesla.Env.t}
  def get_transaction(connection, key, opts \\ []) do
    optional_params = %{
      :select => :query,
      :expand => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/Transactions/#{key}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, VidarAPI.Model.TransactionODataResponse},
      {404, false}
    ])
  end

  @doc """
  Get all transactions
  This endpoint uses OData. All operators are supported.    To make it as fast as possible please select the smallest required data set.    Examples:    Selecting data set: /Transactions?$select=id, instrumentId    Filtering data set: /Transactions?$filter=portfolioId eq 20146

  ### Parameters

  - `connection` (VidarAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:select` (String.t): Limits the properties returned in the result.
    - `:expand` (String.t): Indicates the related entities to be represented inline. The maximum depth is 2.
    - `:filter` (String.t): Filter the results using OData syntax.
    - `:orderby` (String.t): Order the results using OData syntax.
    - `:top` (integer()): Maximum number of results to return.
    - `:skip` (integer()): Number of results to skip.
    - `:count` (boolean()): Whether to include a count of results.

  ### Returns

  - `{:ok, VidarAPI.Model.TransactionODataCollectionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_transactions(Tesla.Env.client, keyword()) :: {:ok, VidarAPI.Model.TransactionODataCollectionResponse.t} | {:error, Tesla.Env.t}
  def get_transactions(connection, opts \\ []) do
    optional_params = %{
      :select => :query,
      :expand => :query,
      :filter => :query,
      :orderby => :query,
      :top => :query,
      :skip => :query,
      :count => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/Transactions")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, VidarAPI.Model.TransactionODataCollectionResponse}
    ])
  end
end
